<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ or $.page.title "GARY DOT COOL" }}</title>

    <link rel="stylesheet" href="assets/css/font-opensans.css" integrity="sha384-DXwfcbfiiWhMLLCCKhJyc1lF4pdAJHCVS1Vjb0rxCaoPm03I5HOY6HtAGzIavrah" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/font-lato.css" integrity="sha384-anHuGhv3s5N3B7JD85O6bWk2ojwzYEGXGgQI0WMYmOG55aHcmsAWWaOhY39JaCvL" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/font-spartan.css" integrity="sha384-LAUbm4TZoLwBAc9WgA3hWmU5zJZh3oKs8TWFT1QqqxznKegcdC+XwaGXmDgAE+OT" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/actually-trying.css">
    <link rel="stylesheet" href="assets/css/actually-trying-print.css">
</head>
<body>
	{{ template "content" . }}
</body>
</html>
