---
layout: printable
page:
  mode:  "{{ qs `mode` `summary` }}"
  title: "Gary W. Hetzel: Resume/CV"
  cv:
    blurb: "Full-stack software architect, frontend engineer, and DevOps-flavored system administrator."

    # ...seriously how often do you expect this data to change?
    contact:
      name:    Gary W. Hetzel
      address: Red Hook, Brooklyn, NY
      avatar:  assets/img/avatar.png
      email:   its@gary.cool

    links:
    - title: "its@gary.cool"
      href:  "mailto:its@gary.cool"
      abbr:  "eml"
      help:  "Email"

    - title:  "ghetzel"
      href:   "https://github.com/ghetzel"
      abbr:   "git"
      help:   "GitHub"
      target: "blank"

    broadSkills:
    - name: Backend Development
      desc: Experience and personal interest in building flexible, high performance server-side applications with a focus on simplicity and durability.

    - name: Systems Administration
      desc: Extensive experience building, managing, and configuring Debian- and Red Hat-based Linux servers, both virtual and physical.

    - name: Frontend Development
      desc: Ability to build fast, functional browser experiences that work reliably across all major clients.

    - name: DevOps and Cloud Computing
      desc: Experience integrating projects with Cloud APIs. Independently building tooling for Kubernetes at home.

    jobs:
    - org:     PerformLine
      desc:    Enterprise regulatory compliance management platform
      loc:     Morristown, NJ
      title:   Principal Engineer
      favicon: assets/img/jobs/performline.ico
      url:     https://performline.com
      span:
        start: 2016
        end:   present
      summary: |
        My role at PerformLine as Principal Engineer represents my first architectural role, and the culmination of years of cross-functional experience with every aspect of ideating, designing, building, testing, and validating full-stack software systems used by engineers and clients alike.

        During my time at PerformLine, I have managed and contributed to an aging Python 2.7-based Django web application, and directly worked to break this monolithic codebase into self-contained services that do one thing well.  These services were also the company's introduction to the reliability, speed, and safety offered by the Golang programming language.

        I built and maintained both Python and Golang standard libraries that codify and centralize internal tasks, as well as enforce standards that make monitoring, logging, and observability a standard feature of our systems.  I have worked extensively with our engineers to steward the development of a highly-scalable and deeply flexible application ecosystem, all tied together by an event-driven architecture that forms a loosely coupled set of capabilities that we can rapidly deploy to meet changing business and client needs.

      skills:
      - label: Ubuntu 16.04
        link:  https://en.wikipedia.org/wiki/Ubuntu

      - label: Amazon Web Services (EC2, DynamoDB, RDS, S3, ECR+EKS)
        link:  https://en.wikipedia.org/wiki/Amazon_Web_Services

      - label: Golang 1.14
        link:  https://golang.org/

      - label: PostgreSQL 11.x
        link:  https://www.postgresql.org/

      - label: Google Chrome DevTools Protocol (CDP)
        link:  https://chromedevtools.github.io/devtools-protocol/

      - label: Python 2.7 & 3.6
        link:  https://www.python.org/about/

      - label: Django 1.x
        link:  https://www.djangoproject.com/


    - org:     Shutterstock, Inc.
      desc:    Stock media marketplace
      favicon: assets/img/jobs/shutterstock.ico
      loc:     New York, NY
      title:   Infrastructure Engineer
      url:     https://shutterstock.com
      span:
        start: 2014
        end:   2016
      summary: |
        At Shutterstock, I continued my journey into highly-available high-traffic application delivery.  Shutterstock presented new challenges, as the nature of the platform prioritized the reliable downloading of very large files to our customers.  This is a distinctly different problem domain than what I encountered at Outbrain, because the size of the data was orders of magnitude larger at Shutterstock, leading to longer connections and more emphasis on network-level optimization and a deep understanding of the specifics of how TCP and HTTP work.

        In addition to working with a mid-sized team of engineers on all manner of technical problems, I headed up the Infrastructure Tooling group to design and build a Infrastructure-as-a-Service (IaaS) platform to make managing our KVM-backed virtual machines simpler for us, but also to offer a self-service interface within the much larger (150+) Shutterstock engineering community.

        During my time here, I built and deployed this platform; providing centralized server inventory, service discovery, low-level network management, and cloud integration features to the company at a time when similar ideas were starting to come to fruition in the wider industry (among them being Docker and Kubernetes.)

      skills:
      - label: Apache Cassandra
        link:  https://en.wikipedia.org/wiki/Apache_Cassandra

      - label: Elasticsearch
        link:  https://en.wikipedia.org/wiki/Elasticsearch

      - label: GitHub Enterprise
        link:  https://github.com/enterprise

      - label: Ruby Sinatra
        link:  https://en.wikipedia.org/wiki/Sinatra_(software)

      - label: Golang 1.1
        link:  https://golang.org/

      - label: AngularJS 1.x
        link:  "https://en.wikipedia.org/wiki/AngularJS#Development_history"

      - label: KVM/libvirt virtualization
        link:  https://en.wikipedia.org/wiki/Libvirt

      - label: CentOS 6.x
        link:  https://en.wikipedia.org/wiki/CentOS

    - org:     Outbrain
      desc:    Web content recommendation engine
      favicon: assets/img/jobs/outbrain.ico
      loc:     New York, NY
      title:   Infrastructure Engineer
      url:     https://outbrain.com
      span:
        start: 2012
        end:   2014
      summary: |
        My move to Outbrain immersed me in the still nascent DevOps scene, and was also my first time dealing with extremely demanding and high-performance application delivery requirements.  The Outbrain platform was placed on the homepages of several very high traffic properties, including USA Today and CNN.  This meant that we had digital real estate on some of the most visted pages on the web, and with that came the responsibility to deliver our content near the theoretical limits of information trasmission over the Internet.

        Once again I found myself building internal web applications, this time for system adminstrators and infrastructure management teams.  My primary project, <i>Onering</i>, was a scalable yet flexible inventory management system to track our rapidly-growing bare metal infrastructure that was deployed in three colocated datacenters across the continental US.

        This application became vital to our operations as we moved physical locations on a number of occasions into better facilities, and elimintated whole classes of management and chain of custody issues inherent in the chaotic, hands-on process of moving physical servers from one place to another.

      skills:
      - label: Ruby Sinatra
        link:  https://en.wikipedia.org/wiki/Sinatra_(software)

      - label: Apache Cassandra
        link:  https://en.wikipedia.org/wiki/Apache_Cassandra

      - label: MongoDB
        link:  https://en.wikipedia.org/wiki/MongoDB

      - label: Elasticsearch
        link:  https://en.wikipedia.org/wiki/Elasticsearch

      - label: AngularJS 1.x
        link:  "https://en.wikipedia.org/wiki/AngularJS#Development_history"

      - label: Graphite timeseries database
        link:  https://en.wikipedia.org/wiki/Graphite_(software)

      - label: RabbitMQ
        link:  https://www.rabbitmq.com/

      - label: CentOS 5.x
        link:  https://en.wikipedia.org/wiki/CentOS

    - org:     Bedford, Freeman, and Worth Publishing Group
      desc:    Higher education arm of Macmillan Publishing
      loc:     New York, NY
      title:   Web Operations Engineer
      favicon: assets/img/jobs/bfw.ico
      url:     https://bfwpub.com
      span:
        start: 2011
      summary: |
        I transitioned into my role at BFW/Macmillan as a step up from my work at Converseon.  Here is where I was first immersed in the idosyncrasies of corporate professional life.  My job as Web Operations Engineer was fairly open-ended, with a wide variety of tasks coming our way that included database administration, SQL query optimization, and performing manual hands-on code deployments from a distributed development team to the live production environment.

        As time went on, I noted that certain tedious and time consuming tasks could be done quicker and more safely using automation.  I was given the opportunity to build a web application and backend worker queue that codified our sundry deployment processes into a fully-automated, well commented sequence of tasks.  By the end of my tenure with the organization, this platform was being used directly by developers and the business to stage and push code changes without my team's intervention, save for maintenance and occasional troubleshooting.

      skills:
      - label: Ruby Sinatra
        link:  https://en.wikipedia.org/wiki/Sinatra_(software)

      - label: Microsoft SQL Server
        link:  https://en.wikipedia.org/wiki/Microsoft_SQL_Server

      - label: Redis
        link:  https://en.wikipedia.org/wiki/Redis

      - label: CentOS 4.x
        link:  https://en.wikipedia.org/wiki/CentOS

      - label: Microsoft Windows Server 2003
        link:  https://en.wikipedia.org/wiki/Windows_Server_2003

    - org:     Converseon, Inc.
      desc:    Social listening platform
      loc:     New York, NY
      title:   Web Developer, R&D
      favicon: assets/img/jobs/converseon.png
      url:     https://converseon.com
      span:
        start: 2010
      summary: |
        My time at Converseon was both my first job in NYC, as well as my first exposure to an advertising-focused agency business.  Here is where I first got worked with data at a scale beyond what could fit on a single server.  I worked with the R&D team based in Ann Arbor, MI as well as directly with Account Representatives in the Midtown office.

        I was engaged with a variety of small projects, largely around using scripting and programming approaches to manage WordPress site content for our clients.  I also started working more closely with the R&D team towards improving performance and operability of the MySQL-backed social data platform we were building, and was introduced to the Sphinx fulltext indexing engine and its capabilities.

      skills:
      - label: MySQL
        link:  https://www.mysql.com/

      - label: Git version control
        link:  https://en.wikipedia.org/wiki/Git

      - label: WordPress templates and administration
        link:  https://en.wikipedia.org/wiki/WordPress

      - label: Sphinx fulltext indexing
        link:  https://sphinxsearch.com/

      - label: Linux shell and text utilities
        link:  https://en.wikipedia.org/wiki/GNU_Core_Utilities

    - org:     Liberty Science Center
      loc:     Jersey City, NJ
      desc:    Science museum
      title:   Webmaster & Database Administrator
      favicon: assets/img/jobs/lsc.png
      url:     https://lsc.org
      span:
        start: 2007
        end:   2009
      summary: |
        My role at Liberty Science Center represents my first professional experience in a technical environment at a large organization.  Here I spent a lot of time growing into the role, learning the ins and outs of both nonprofit and corporate life.  I was primarily responsible for managing content on the museum's website (<a href="https://lsc.org" target="blank">lsc.org</a>), and later was tasked with the implementation and deployment of a total redesign.  It was my job to take the creative coming from our in-house graphics design team and put it on the Internet.

        I was also a general purpose developer and database administrator for our IT and Systems teams, a role that I distinguished myself in by building internal web applications that were used by the Exhibition Maintenance team to track, troubleshoot, and control the over 250 distinct Windows PC-based public exhibits on display throughout the museum.

      skills:
      - label: MySQL
        link:  https://www.mysql.com/

      - label: Relational data modelling
        link:  https://en.wikipedia.org/wiki/Relational_model

      - label: Linux system adminstration
        link:  https://en.wikipedia.org/wiki/Cowsay

      - label: Ruby on Rails
        link:  https://en.wikipedia.org/wiki/Ruby_on_Rails

      - label: Subversion version control
        link:  https://en.wikipedia.org/wiki/Apache_Subversion

      - label: Slackware Linux
        link:  https://en.wikipedia.org/wiki/Slackware

      - label: Microsoft Windows Server 2003
        link:  https://en.wikipedia.org/wiki/Windows_Server_2003

      - label: Microsoft Active Directory
        link:  https://en.wikipedia.org/wiki/Active_Directory
---
{{ $jobs := $.page.cv.jobs }}
{{ if eqx $.page.mode `story` }}{{ $jobs = reverse $jobs }}{{ end }}
<div id="visual-arena">
  <nav class="contact">
    <header>
      <img class="avatar" src="{{ $.page.cv.contact.avatar }}">
    </header>

    <h1>Location</h1>
    <address>{{ $.page.cv.contact.address }}</address>

    <h1>Contact</h1>
    <ul>
      {{ range $link := $.page.cv.links }}
      <li>
        <a
          href="{{ $link.href }}"
          title="{{ $link.help }}"
          target="{{ or $link.target `self` }}"
        >
          <abbr>{{ $link.abbr }}:&nbsp;</abbr>{{ $link.title }}
        </a>
      </li>
      {{ end }}
    </ul>

    <h1>Projects</h1>
    <p><a href="/projects">Check out my open source project portfolio.</a></p>

<!--
    <h1>Aesthetic</h1>
    <p>
      <a target="blank" href="https://mrandmrheatherflanagan.com">mrandmrheatherflanagan.com</a>
      <a target="blank" href="https://aboveaveragefriendships.com">aboveaveragefriendships.com</a>
      <a target="blank" href="https://garysfunrestaurantbarandgrill.com">garysfunrestaurantbarandgrill.com</a>
    </p>
-->
  </nav>

  <article class="doc-body">
    <header>
      <h1>{{ $.page.cv.contact.name }}</h1>
      <span>{{ $.page.cv.blurb }}</span>
    </header>

    <header class="inline-contact">
      {{ $.page.cv.contact.address }}
      {{ range $link := $.page.cv.links }}
      <a
        href="{{ $link.href }}"
        title="{{ $link.help }}"
        target="{{ or $link.target `self` }}"
      >{{ if eqx $link.abbr `git` }}GitHub: {{ end }}{{ $link.title }}</a>
      {{ end }}
    </header>

    <section class="skills-interests">
      <h2>Industry Skills</h2>
      <ul>
        {{ range $si := $.page.cv.broadSkills }}
        <li>
          <h3>{{ emoji "computer" }} {{ $si.name }}</h3>
          <small>{{ $si.desc }}</small>
        </li>
        {{ end }}
      </ul>
    </section>

    <section class="jobs">
      <h2>
        Professional Life
        <span class="modes">
          <a class="{{ if eqx $.page.mode `summary` }}selected{{ end }}" href="?mode=summary">Recent</a>
          <a class="{{ if eqx $.page.mode `story` }}selected{{ end }}" href="?mode=story">Story</a>
        </span>
      </h2>
      <ol>
        {{ range $job := $jobs }}
        <li>
          <div class="jobtime">
            <time>{{ $job.span.start }}{{ if $job.span.end }}</time>&ndash;<time>{{ $job.span.end }}{{ end }}</time>
          </div>
          <div class="jobdesc">
            <h3>{{ $job.title }}</h3>
            <h4><img src="{{ $job.favicon }}"> {{ $job.org }}</h4>
            <h5>{{ $job.desc }}</h5>
            <a target="blank" href="{{ $job.url }}">{{ urlHost $job.url }}</a>
            <p>{{ sanitize $job.summary }}</p>
            {{- if $job.skills }}
            <ul>
              {{ range $skill := $job.skills }}
              <li><a href="{{ $skill.link }}" target="blank">{{ $skill.label }}</a></li>
              {{ end }}
            </ul>
            {{- end }}
          </div>
        </li>
        {{ end }}
      </ol>
    </section>

    <footer>
      This page was lovingly hand-crafted using vanilla HTML, CSS, and the <a target="blank" href="https://github.com/ghetzel/diecast">Diecast</a> web framework.
      <br>
      Copyright &copy; {{ now "2006" }} Gary Hetzel. All rights reserved.
    </footer>
  </article>
</div>

<script>document.querySelector('.doc-body').focus()</script>